.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 50px;
  margin-bottom: 20px;
}
.new-game-btn,
.go-btn {
  font-size: xx-large;
  margin-bottom: 10px;
}
* {
  user-select: none;
}
